html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  display: grid;
  height: 100%;
  min-height: 100%;
}
.Container {
  min-height: 100vh;
}
.a {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  min-width: 50vw;
  max-width: 50vw;
  width: 50vw;
  overflow: auto;
  background-color: #DEFEDE;
}
.b {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  min-width: 50vw;
  max-width: 50vw;
  width: 50vw;
  overflow: auto;
  background-color: #FEDEDE;
}
